<nb-card [nbSpinner]="loading">
    <nb-card-header>
        Reservation
        <nb-actions *ngIf="!isNew" size="small" class="float-right">
            <nb-action icon="refresh" (click)="reload$.next(undefined)"></nb-action>
            <nb-action icon="save" (click)="onSubmit()"></nb-action>
        </nb-actions>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <depot-form-element
                [formControlRef]="form.controls.type"
                [submitted]="submitted"
                [choices]="reservationChoices"
                (change)="onTypeChange($event)"
                type="radio"
                title="Type"
            ></depot-form-element>
            <depot-form-element
                [formControlRef]="form.controls.name"
                [submitted]="submitted"
                type="text"
                title="Name"
            ></depot-form-element>
            <depot-form-element
                [formControlRef]="form.controls.start"
                [formControlRefEnd]="form.controls.end"
                [submitted]="submitted"
                type="daterange"
                title="Date Range"
            ></depot-form-element>
            <depot-form-element
                *ngIf="(allUsers$ | async) == null"
                [formControlRef]="userName"
                [submitted]="submitted"
                type="text"
                title="User"
            ></depot-form-element>
            <depot-form-element
                *ngIf="(allUsers$ | async) != null"
                [formControlRef]="form.controls.userId"
                [submitted]="submitted"
                [choices]="allUsers$ | async"
                type="select"
                title="User"
            ></depot-form-element>
            <depot-form-element
                [formControlRef]="form.controls.teamId"
                [submitted]="submitted"
                [choices]="teams$ | async"
                type="select"
                title="Team"
            ></depot-form-element>
            <depot-form-element
                [formControlRef]="form.controls.contact"
                [submitted]="submitted"
                type="textarea"
                title="Contact"
            ></depot-form-element>
            <div class="form-group">
                <button
                    nbButton
                    fullWidth
                    status="primary"
                    size="large"
                    [disabled]="loading || !form.valid"
                    type="submit"
                    [class.btn-pulse]="submitted"
                >
                    Save
                </button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
<depot-reservation-items
    [reservationsStart]="form.controls.start.value"
    [reservationsEnd]="form.controls.end.value"
    [skipReservationId]="reservationId"
    [formControl]="form.controls.items"
></depot-reservation-items>
