<div *ngIf="lastError$ | async" class="error-message" style="text-align: center; margin-top: 5em;">
    {{ lastError$ | async }}
</div>
<div *ngIf="loggedIn$ | async">
    <div style="text-align: center;">
        <h1>Hi {{ name$ | async }}!</h1>

        <p>
            <a routerLink="/reservations">
                Go to Reservations
                <i icon="calendar"></i>
            </a>
        </p>

        <button nbButton type="button" (click)="logout()">Log Out</button>
    </div>
</div>
<div *ngIf="!(loggedIn$ | async)">
    <div style="text-align: center; margin-top: 5em;">
        <button nbButton type="button" (click)="login()">Log In</button>
    </div>
</div>
