@import '../../../themes';

.text-placeholder {
    height: 1em;
    width: 50em;
    background: lightgray;
    display: inline-block;
}

.clickable-item {
    cursor: pointer;

    color: nb-theme(button-ghost-primary-text-color);
}

.clickable-item:hover {
    color: nb-theme(button-ghost-primary-hover-color);
}

.clickable-item:focus {
    color: nb-theme(button-ghost-primary-focus-text-color);
}

.clickable-item:active {
    color: nb-theme(button-ghost-primary-active-text-color);
}
