<nb-card [nbSpinner]="loading">
    <nb-card-header>
        Reservations
        <nb-actions size="small" class="float-right">
            <nb-action icon="refresh" (click)="reload$.next(undefined)"></nb-action>
            <nb-action icon="file-add" (click)="onCreate()"></nb-action>
        </nb-actions>
    </nb-card-header>
    <nb-card-body>
        <nb-list nbInfiniteList [threshold]="500" (bottomThreshold)="onLoadNext()" [listenWindowScroll]="true">
            <nb-list-item
                nbButton
                *ngFor="let reservation of reservations$ | async"
                (click)="onClickReservation(reservation)"
                class="clickable-item"
            >
                {{ reservation.name }}
            </nb-list-item>
            <nb-list-item nbButton *ngFor="let _ of placeholders$ | async">
                <div class="text-placeholder"></div>
            </nb-list-item>
        </nb-list>

        <!--<nb-menu [items]="reservationItems$ | async"></nb-menu>-->
    </nb-card-body>
</nb-card>
