@import '../../../../themes';

.header-flex {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    flex-flow: wrap;
}

nb-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
}

.stretch {
    flex-grow: 1;
}

.item-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    user-select: none;

    flex-grow: 1;

    .item-text {
        margin-left: 0.875rem;

        .item-name {
            font-weight: bolder;
            font-size: larger;
        }

        .item-description {
        }

        .item-tags {
            font-size: smaller;

            .item-tag {
                display: inline-block;

                -webkit-border-radius: 3pt;
                -moz-border-radius: 3pt;
                border-radius: 3pt;
                //background-color: nb-theme(button-outline-info-background-color);
                border: 1px solid nb-theme(button-outline-info-border-color);
                color: nb-theme(button-outline-info-text-color);
                padding: 0 0.2rem 0 0.2rem;
                margin: 0 0.1rem 0 0.1rem;
                line-height: 1rem;
            }
        }
    }

    .item-picture {
        //position: relative;
        flex-shrink: 0;
        text-decoration: none;

        img {
            -webkit-border-radius: 3pt;
            -moz-border-radius: 3pt;
            border-radius: 3pt;
            max-width: 30vw;
        }
    }
}

.item-counter-container {
    display: flex;

    color: nb-theme(checkbox-basic-text-color);

    font-family: nb-theme(checkbox-text-font-family);
    font-size: nb-theme(checkbox-text-font-size);
    font-weight: nb-theme(checkbox-text-font-weight);
    line-height: nb-theme(checkbox-text-line-height);

    .item-numeric-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-size: larger;

        .count {
            text-align: center;
        }

        .up,
        .down {
            padding: 0.4rem 0;
        }
    }

    .item-numeric-info-text {
        padding: 0.375rem 1.5rem 0.375rem 0.6875rem;
        display: flex;
        flex-direction: column;

        flex-grow: 1;
    }
}

.item-counter-container.disabled {
    color: nb-theme(checkbox-basic-disabled-text-color);
}

.no-padding {
    padding: 0;
}

.preview-large {
    min-width: 50vw;
    min-height: 50vh;
    max-width: calc(100vw - 5pt);
    max-height: calc(100vh - 150pt);
}
