<nb-layout>
    <nb-layout-header fixed>
        <div class="section left">
            <nb-actions size="medium">
                <nb-action
                    (click)="back()"
                    icon="arrow-back"
                    [disabled]="backDisabled"
                    *ngIf="loggedIn$ | async"
                    title="Back"
                ></nb-action>
                <nb-action
                    *ngIf="loggedIn$ | async"
                    (click)="sidebarService.toggle(false, 'left')"
                    icon="menu"
                    title="Toggle Sidebar"
                ></nb-action>
            </nb-actions>
            User Manager
        </div>
        <div class="section right">
            <span *ngIf="loggedIn$ | async">{{ name$ | async }}</span>
            <nb-actions size="medium">
                <nb-action *ngIf="loggedIn$ | async" (click)="logout()" icon="log-out" title="Log Out"></nb-action>
                <nb-action *ngIf="!(loggedIn$ | async)" (click)="login()" icon="log-in" title="Log In"></nb-action>
            </nb-actions>
        </div>
    </nb-layout-header>
    <nb-sidebar
        tag="left"
        [left]="true"
        [containerFixed]="true"
        [state]="(loggedIn$ | async) ? 'expanded' : 'collapsed'"
    >
        <span>Hello {{ name$ | async }}!</span>
        <nb-menu [items]="menuItems" tag="left"></nb-menu>
    </nb-sidebar>
    <nb-layout-column class="no-padding"><router-outlet></router-outlet></nb-layout-column>
    <nb-layout-footer>
        <span>
            Powered by <a href="https://angular.io/">Angular</a>, <a href="https://akveo.github.io/nebular">Nebular</a>,
            <a href="https://fastapi.tiangolo.com/">FastAPI</a> and
            <a href="https://docs.authlib.org/en/latest/">Authlib</a>. Version 1.0.0 &copy; 2020 Lukas Vögtle
        </span>
    </nb-layout-footer>
</nb-layout>
