<nb-card [nbSpinner]="loading">
    <nb-card-header class="header-flex">
        <span>Items</span>
        <div class="filter">
            <label class="label" [for]="filterInput">
                <nb-icon icon="funnel"></nb-icon>
                Filter:
            </label>
            <input
                nbInput
                [nbFilterInput]="dataSource"
                [debounceTime]="250"
                fieldSize="small"
                [(ngModel)]="filter"
                [status]="filter ? 'success' : ''"
                #filterInput
            />
            &nbsp;
            <nb-checkbox [checked]="showGrouped$.value" (checkedChange)="showGrouped$.next(!showGrouped$.value)">
                Grouped
            </nb-checkbox>
        </div>
        <nb-actions size="small" class="float-right">
            <nb-action icon="refresh" (click)="itemsService.reload()"></nb-action>
            <nb-action icon="file-add" (click)="onCreate()"></nb-action>
        </nb-actions>
    </nb-card-header>
    <nb-card-body>
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr
                nbTreeGridRow
                *nbTreeGridRowDef="let row; columns: allColumns"
                (dblclick)="onClickItem($event, row.data)"
                [clickToToggle]="false"
            ></tr>

            <ng-container nbTreeGridColumnDef="externalId">
                <th
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection('externalId')"
                    *nbTreeGridHeaderCellDef
                    class="sortable"
                >
                    External ID
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    {{ row.data.externalId }}
                </td>
            </ng-container>

            <ng-container nbTreeGridColumnDef="name">
                <th
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection('name')"
                    *nbTreeGridHeaderCellDef
                    class="sortable"
                >
                    Name
                </th>
                <td
                    nbTreeGridCell
                    *nbTreeGridCellDef="let row"
                    [class.expandable]="row.children"
                    (click)="row.children && dataSource.toggle(row.data)"
                >
                    <nb-tree-grid-row-toggle
                        [expanded]="row.expanded"
                        *ngIf="row.children"
                        class="expandable"
                    ></nb-tree-grid-row-toggle>
                    <nb-icon icon="cube" *ngIf="!row.children"></nb-icon>
                    {{ row.data.name }}
                    <span *ngIf="row.children">({{ row.children.length }})</span>
                </td>
            </ng-container>

            <ng-container nbTreeGridColumnDef="description">
                <th
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection('description')"
                    *nbTreeGridHeaderCellDef
                    class="sortable"
                >
                    Description
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    {{ row.data.description }}
                </td>
            </ng-container>

            <ng-container nbTreeGridColumnDef="conditionText">
                <th
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection('condition')"
                    *nbTreeGridHeaderCellDef
                    class="sortable"
                >
                    Condition
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    {{ row.data.conditionText }}
                </td>
            </ng-container>

            <ng-container nbTreeGridColumnDef="purchaseDate">
                <th
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection('purchaseDate')"
                    *nbTreeGridHeaderCellDef
                    class="sortable"
                >
                    Purchase Date
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    {{ row.data.purchaseDate | formatDate }}
                </td>
            </ng-container>

            <ng-container nbTreeGridColumnDef="lastService">
                <th
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection('lastService')"
                    *nbTreeGridHeaderCellDef
                    class="sortable"
                >
                    Last Service
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    {{ row.data.lastService | formatDate }}
                </td>
            </ng-container>

            <ng-container nbTreeGridColumnDef="picture">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                    Picture
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    <img [src]="getItemPicturePreviewUrl(row.data)" alt="Item Image" *ngIf="row.data.pictureId" />
                </td>
            </ng-container>

            <ng-container nbTreeGridColumnDef="tags">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                    Tags
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    {{ row.data.tags }}
                </td>
            </ng-container>

            <ng-container nbTreeGridColumnDef="action">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                    Action
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    <button nbButton ghost (click)="onClickItem($event, row.data)">
                        <nb-icon icon="edit"></nb-icon>
                    </button>
                </td>
            </ng-container>
        </table>

        <!--<nb-list>
            <nb-list-item nbButton *ngFor="let item of items$ | async" (click)="onClickItem(item)"
                          class="clickable-item">
                {{item.name}}
            </nb-list-item>
            <nb-list-item nbButton *ngFor="let _ of placeholders$ | async">
                <div class="text-placeholder"></div>
            </nb-list-item>
        </nb-list>-->
    </nb-card-body>
</nb-card>
