@import '../../../../themes';

input.ng-dirty {
    font-weight: bold;
}

.form-control-group {
    padding-bottom: 1rem;
}

.date-range {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
}

.date-range input {
    flex: 1 auto;
}

.date-range .date-range-center {
    flex: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
}

.text-success {
    color: nb-theme(color-success-default);
}

.text-warning {
    color: nb-theme(color-warning-default);
}

.text-danger {
    color: nb-theme(color-danger-default);
}
