<nb-card [nbSpinner]="loading">
    <nb-card-header class="header-flex">
        <span>Bays</span>
        <div class="filter">
            <label class="label" [for]="filterInput">
                <nb-icon icon="funnel"></nb-icon>
                Filter:
            </label>
            <input
                nbInput
                [nbFilterInput]="dataSource"
                [debounceTime]="250"
                fieldSize="small"
                [(ngModel)]="filter"
                [status]="filter ? 'success' : 'basic'"
                #filterInput
            />
        </div>
        <nb-actions size="small" class="float-right">
            <nb-action icon="refresh" (click)="itemsService.reload()"></nb-action>
            <nb-action icon="file-add" (click)="onCreate()"></nb-action>
        </nb-actions>
    </nb-card-header>
    <nb-card-body>
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr
                nbTreeGridRow
                *nbTreeGridRowDef="let row; columns: allColumns"
                (dblclick)="onClickBay($event, row.data)"
                [clickToToggle]="false"
            ></tr>

            <ng-container nbTreeGridColumnDef="externalId">
                <th
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection('externalId')"
                    *nbTreeGridHeaderCellDef
                    class="sortable"
                >
                    External ID
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    {{ row.data.externalId }}
                </td>
            </ng-container>

            <ng-container nbTreeGridColumnDef="name">
                <th
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection('name')"
                    *nbTreeGridHeaderCellDef
                    class="sortable"
                >
                    Name
                </th>
                <td
                    nbTreeGridCell
                    *nbTreeGridCellDef="let row"
                    [class.expandable]="row.children"
                    (click)="row.children && dataSource.toggle(row.data)"
                >
                    {{ row.data.name }}
                </td>
            </ng-container>

            <ng-container nbTreeGridColumnDef="description">
                <th
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection('description')"
                    *nbTreeGridHeaderCellDef
                    class="sortable"
                >
                    Description
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    {{ row.data.description }}
                </td>
            </ng-container>

            <ng-container nbTreeGridColumnDef="action">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                    Action
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    <button nbButton ghost (click)="onClickBay($event, row.data)">
                        <nb-icon icon="edit"></nb-icon>
                    </button>
                </td>
            </ng-container>
        </table>
    </nb-card-body>
</nb-card>
