@import '../../../../themes';

.key {
    font-weight: bold;
}

.status-success {
    color: nb-theme(color-success-700);
}

.status-warning {
    color: nb-theme(color-warning-700);
}

.status-danger {
    color: nb-theme(color-danger-700);
}
