<nb-accordion>
    <nb-accordion-item expanded>
        <nb-accordion-item-header>Item Details</nb-accordion-item-header>
        <nb-accordion-item-body>
            <p>
                <span class="key">External ID: </span><span class="value">{{ item?.externalId }}</span>
            </p>
            <p>
                <span class="key">Name: </span><span class="value">{{ item?.name }}</span>
            </p>
            <p>
                <span class="key">Description: </span><span class="value">{{ item?.description }}</span>
            </p>
            <p>
                <span class="key">Last Service: </span><span class="value">{{ item?.lastService | formatDate }}</span>
            </p>
            <p>
                <span class="key">Purchase Date: </span><span class="value">{{ item?.purchaseDate | formatDate }}</span>
            </p>
        </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
        <nb-accordion-item-header>History</nb-accordion-item-header>
        <nb-accordion-item-body>
            <nb-list>
                <nb-list-item *ngFor="let state of itemHistory$ | async" class="history-entry">
                    <p>{{ state.comment }} on {{ state.timestamp | formatDateTime }}:</p>
                    <ng-container *ngFor="let field of stateFields(state)">
                        <ng-container [ngSwitch]="field.key">
                            <p *ngSwitchCase="'name'">
                                <span class="key">Name: </span><span class="value">{{ field.value }}</span>
                            </p>
                            <p *ngSwitchCase="'externalId'">
                                <span class="key">External ID: </span><span class="value">{{ field.value }}</span>
                            </p>
                            <p *ngSwitchCase="'description'">
                                <span class="key">Description: </span><span class="value">{{ field.value }}</span>
                            </p>
                            <p *ngSwitchCase="'condition'">
                                <span class="key">Condition: </span
                                ><span class="value">{{ conditionTranslation[field.value] }}</span>
                            </p>
                            <p *ngSwitchCase="'conditionComment'">
                                <span class="key">Condition Comment: </span><span class="value">{{ field.value }}</span>
                            </p>
                            <p *ngSwitchCase="'purchaseDate'">
                                <span class="key">Purchase Date: </span
                                ><span class="value">{{ field.value | formatDate }}</span>
                            </p>
                            <p *ngSwitchCase="'lastService'">
                                <span class="key">Last Service: </span
                                ><span class="value">{{ field.value | formatDate }}</span>
                            </p>
                            <p *ngSwitchCase="'pictureId'">
                                <span class="key">Picture: </span
                                ><span class="value"><img [src]="getPicturePreviewUrl(field.value)"/></span>
                            </p>
                            <p *ngSwitchCase="'groupId'">
                                <span class="key">Group: </span
                                ><span class="value">{{ field.value | itemGroupName | async }}</span>
                            </p>
                            <p *ngSwitchCase="'bayId'">
                                <span class="key">Bay: </span
                                ><span class="value">{{ field.value | bayName | async }}</span>
                            </p>
                            <p *ngSwitchCase="'tags'">
                                <span class="key">Tags: </span
                                ><span class="value"
                                    ><span class="tag" *ngFor="let tag of field.value">{{ tag }}</span></span
                                >
                            </p>
                            <p *ngSwitchDefault>
                                <span class="key">{{ field.key }}: </span><span class="value">{{ field.value }}</span>
                            </p>
                        </ng-container>
                    </ng-container>
                </nb-list-item>
            </nb-list>
        </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
        <nb-accordion-item-header>Past Reservations</nb-accordion-item-header>
        <nb-accordion-item-body>
            <nb-list>
                <nb-list-item *ngFor="let reservation of reservations$ | async">
                    <p>
                        <span class="key">{{ reservation.name }}: </span
                        ><span class="value"
                            >{{ reservation.start | formatDate }} - {{ reservation.end | formatDate }}</span
                        >
                    </p>
                    <p>{{ reservation.contact }}</p>
                </nb-list-item>
            </nb-list>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
