.expandable,
.expandable *,
.sortable,
.sortable * {
    cursor: pointer;
}

.header-flex {
    display: flex;
    place-content: space-between;
    flex-flow: wrap;
}

td > .table-fill {
    //display: flex;
    height: 100%;
    width: 100%;
}

table {
    // This will ensure every column is properly visible, also on mobile
    min-width: 1200px;
    max-width: none;
}
