<nb-card [nbSpinner]="loading">
    <nb-card-header>
        Bay
        <nb-actions *ngIf="!isNew" size="small" class="float-right">
            <nb-action icon="refresh" (click)="reload$.next(undefined)"></nb-action>
            <nb-action icon="save" (click)="onSubmit()"></nb-action>
        </nb-actions>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <depot-form-element
                [formControlRef]="form.controls.externalId"
                [submitted]="submitted"
                type="text"
                title="External ID"
            ></depot-form-element>
            <depot-form-element
                [formControlRef]="form.controls.name"
                [submitted]="submitted"
                type="text"
                title="Name"
            ></depot-form-element>
            <depot-form-element
                [formControlRef]="form.controls.description"
                [submitted]="submitted"
                type="textarea"
                title="Description"
            ></depot-form-element>
            <div class="form-group">
                <button
                    nbButton
                    fullWidth
                    status="primary"
                    size="large"
                    [disabled]="loading || !form.valid"
                    type="submit"
                    [class.btn-pulse]="submitted"
                >
                    Save
                </button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
