<nb-list *ngIf="!group">
    <nb-list-item
        class="picture-entry clickable"
        *ngFor="let picture of pictures$ | async"
        (click)="selectPicture.next(picture.id)"
    >
        <div><img [src]="getPictureUrl(picture)" alt="Picture Preview" /></div>
        <div style="text-align: center;">{{ picture.originalName }}</div>
    </nb-list-item>
</nb-list>

<ngx-file-drop (onFileDrop)="onFileDrop($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <button nbButton ghost fullWidth (click)="openFileSelector()">Drop files here</button>
    </ng-template>
</ngx-file-drop>
