<ng-container [ngSwitch]="type">
    <div *ngSwitchCase="'checkbox'" class="form-control-group">
        <nb-checkbox [formControl]="formControlRef" [disabled]="readonly"
                     [status]="submitted && formControlRef.errors ? 'danger':''"
        >{{title}}{{formControlRef.dirty ? ' *' : ''}}</nb-checkbox>
    </div>
    <div *ngSwitchCase="'text'" class="form-control-group">
        <label class="label" [for]="formControlEl">{{title}}{{formControlRef.dirty ? ' *' : ''}}</label>
        <input
            nbInput
            [placeholder]="title"
            fullWidth
            fieldSize="medium"
            [status]="formControlRef.dirty ? (formControlRef.invalid  ? 'danger' : 'success') : ''"
            required
            [attr.aria-invalid]="formControlRef.invalid && formControlRef.touched ? true : null"
            [formControl]="formControlRef"
            [readOnly]="readonly"
            #formControlEl
        />
    </div>
    <div *ngSwitchCase="'textarea'" class="form-control-group">
        <label class="label" [for]="formControlEl">{{title}}{{formControlRef.dirty ? ' *' : ''}}</label>
        <textarea
            nbInput
            [placeholder]="title"
            fullWidth
            fieldSize="medium"
            [status]="formControlRef.dirty ? (formControlRef.invalid  ? 'danger' : 'success') : ''"
            required
            [attr.aria-invalid]="formControlRef.invalid && formControlRef.touched ? true : null"
            [formControl]="formControlRef"
            [readOnly]="readonly"
            #formControlEl
        ></textarea>
    </div>
    <div *ngSwitchCase="'date'" class="form-control-group">
        <label class="label" [for]="formControlEl">{{title}}{{formControlRef.dirty ? ' *' : ''}}</label>
        <input
            nbInput
            [placeholder]="title"
            fullWidth
            fieldSize="medium"
            [status]="formControlRef.dirty ? (formControlRef.invalid  ? 'danger' : 'success') : ''"
            required
            [attr.aria-invalid]="formControlRef.invalid && formControlRef.touched ? true : null"
            [(ngModel)]="dateValue"
            [readOnly]="readonly"
            [nbDatepicker]="datepicker"
            #formControlEl
        />
        <nb-datepicker #datepicker></nb-datepicker>
    </div>
    <div *ngSwitchCase="'daterange'" class="form-control-group">
        <label class="label" [for]="formControlEl">{{title}}{{formControlRef.dirty ? ' *' : ''}}</label>
        <div class="date-range">
            <input
                nbInput
                [placeholder]="title + ' Start'"
                fullWidth
                fieldSize="medium"
                [status]="formControlRef.dirty ? (formControlRef.invalid  ? 'danger' : 'success') : ''"
                required
                [attr.aria-invalid]="formControlRef.invalid && formControlRef.touched ? true : null"
                [(ngModel)]="dateValue"
                [readOnly]="readonly"
                [nbDatepicker]="daterangepickerStart"
                #formControlEl
            /><div class="date-range-center"> - </div><input
                nbInput
                [placeholder]="title + ' End'"
                fullWidth
                fieldSize="medium"
                [status]="formControlRefEnd.dirty ? (formControlRefEnd.invalid  ? 'danger' : 'success') : ''"
                required
                [attr.aria-invalid]="formControlRefEnd.invalid && formControlRefEnd.touched ? true : null"
                [(ngModel)]="dateValueEnd"
                [readOnly]="readonly"
                [nbDatepicker]="daterangepickerEnd"
            />
        </div>
        <app-date-range-picker [selectingStart]="true" [max]="dateValueEnd" [otherDate]="dateValueEnd" #daterangepickerStart></app-date-range-picker>
        <app-date-range-picker [selectingStart]="false" [min]="dateValue" [otherDate]="dateValue" #daterangepickerEnd></app-date-range-picker>
    </div>
    <div *ngSwitchCase="'radio'" class="form-control-group">
        <label class="label" [for]="formControlEl">{{title}}{{formControlRef.dirty ? ' *' : ''}}</label>
        <nb-radio-group
            [formControl]="formControlRef"
            [status]="formControlRef.dirty ? (formControlRef.invalid  ? 'danger' : 'success') : ''"
            [attr.aria-invalid]="formControlRef.invalid && formControlRef.touched ? true : null"
            [disabled]="readonly"
            #formControlEl
        >
            <nb-radio *ngFor="let choice of choices" [value]="choice.value" [disabled]="choice.disabled">{{choice.title}}</nb-radio>
        </nb-radio-group>
    </div>
    <div *ngSwitchCase="'select'" class="form-control-group">
        <label class="label" [for]="formControlEl">{{title}}{{formControlRef.dirty ? ' *' : ''}}</label>
        <div>
            <nb-select
                [formControl]="formControlRef"
                [status]="formControlRef.dirty ? (formControlRef.invalid  ? 'danger' : 'success') : ''"
                [attr.aria-invalid]="formControlRef.invalid && formControlRef.touched ? true : null"
                [disabled]="readonly"
                [placeholder]="title"
                #formControlEl
            >
                <nb-option *ngFor="let choice of choices" [value]="choice.value" [disabled]="choice.disabled">{{choice.title}}</nb-option>
            </nb-select>
        </div>
    </div>
    <nb-alert *ngIf="error" status="danger" closable (close)="formControlRef.updateValueAndValidity()">
      {{error}}
    </nb-alert>
</ng-container>
