// this is our just created themes.scss file, make sure the path to the file is correct
@import 'themes';

// framework component styles
@import '~@nebular/theme/styles/globals';

@import 'tag-edit';

// install the framework styles
@include nb-install() {
    @include nb-theme-global();
}

@include nb-tag-edit();

/* You can add global styles to this file, and also import other style files */

.table th.fit,
.table td.fit {
    width: 1px;
    white-space: nowrap;
}

.table th.fit nb-action,
.table td.fit nb-action {
    padding: 0;
}

.table td.align-middle,
.table th.align-middle {
    vertical-align: middle;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.table tr.clickable-row {
    cursor: pointer;
}

// Range cell with hover
.nb-theme-default nb-calendar-day-picker .range-cell.hover-in-range {
    background: #bfc6e1;
}

button {
    cursor: pointer;
}

nb-dialog-container nb-card {
    max-height: 100vh;
}
